<head>
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
	<script type="text/javascript" src="/highslide/highslide.js"></script>
<link rel="stylesheet" type="text/css" href="/highslide/highslide.css"/>


<!--
    2) Optionally override the settings defined at the top
    of the highslide.js file. The parameter hs.graphicsDir is important!
-->

<script type="text/javascript">
    hs.graphicsDir = '../highslide/graphics/';
    hs.outlineType = 'rounded-white';
</script>
</head>
<br><br><br><br><br>
<div> 
  <div class="shadow-lg p-3 mb-5 bg-white rounded" style="height: 60px"> 
    <div class="w-100 p-3 page-header text-center">
      
          <h1 style="margin-top: -35px">
            
            
                СТАНЬТЕ НАШИМ ПАРТНЁРОМ
              
            
          </h1>
    
    </div>  
  </div>    
</div>
<div class="container">
	<div class="shadow-lg p-3 mb-5 rounded">
		<div class="w-100 p-3" style="background-color: #eee;">
			<p style="font-size: 18px; line-height: 1.5;">
				Мы искренне рады, что Вы проявили интерес к продукции кондитерской фабрики "Burkut". Если в вашем городе нет продукции "Burkut", но у вас есть интерес и желание стать нашим партнером, дистрибьютором - звоните или пишите на электронную почту. Вас подробно познакомят с возможностями по ведению совместного бизнеса, предоставят прайс-лист на кондитерские изделия производимые кондитерской фабрикой «Burkut»и так же подробно ответят на все интересующие Вас вопросы. Доставка до дверей вашего склада, рекламная поддержка, консультации и помощь в продвижении на рынках вашего города и региона.
			</p>
		</div>	
	</div>
</div>

<div class="page-header text-center">
  <h1>
    СЕРТИФИКАТЫ
  </h1>
</div>

<div class="container">
	<div class="parent">
		<div class="child" style="width: 23%; position: center">
			<div class="shadow-lg p-3 mb-5 rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<a id="thumb1" href="images/certificates/серитфикат ИСО 9001-2015 на арабском языке (1).jpg" class="highslide" onclick="return hs.expand(this)">
						<img src="images/certificates/серитфикат ИСО 9001-2015 на арабском языке (1).jpg" alt="Highslide JS" title="Click to enlarge" height="240" width="214" />
					</a>
					
				</div>		
			</div>
		</div>	
		<div class="child" style="width: 23%; position: center; margin-right: 2%">
			<div class="shadow-lg p-3 mb-5 rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<a id="thumb1" href="images/certificates/серитфикат ИСО 9001-2015 на русском языке (1).jpg" class="highslide" onclick="return hs.expand(this)">
						<img src="images/certificates/серитфикат ИСО 9001-2015 на русском языке (1).jpg" alt="Highslide JS" title="Click to enlarge" height="240" width="214" />
					</a>
						
				</div>		
			</div>
		</div>
		<div class="child" style="width: 23%; position: center; margin-right: 2%">
			<div class="shadow-lg p-3 mb-5 rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<a id="thumb1" href="images/certificates/серитфикат ИСО 22000-2005 на арабском языке (1).jpg" class="highslide" onclick="return hs.expand(this)">
						<img src="images/certificates/серитфикат ИСО 22000-2005 на арабском языке (1).jpg" alt="Highslide JS" title="Click to enlarge" height="240" width="214" />
					</a>
							
				</div>		
			</div>
		</div>
		<div class="child" style="width: 23%; position: center; margin-right: 2%">
			<div class="shadow-lg p-3 mb-5 rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<a id="thumb1" href="images/certificates/серитфикат ИСО 22000-2005 на русском языке (1).jpg" class="highslide" onclick="return hs.expand(this)">
						<img src="images/certificates/серитфикат ИСО 22000-2005 на русском языке (1).jpg" alt="Highslide JS" title="Click to enlarge" height="240" width="214" />
					</a>
								
				</div>		
			</div>
		</div>			
		<div class="child" style="width: 23%; position: center">
			<div class="shadow-lg p-3 mb-5 rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<a id="thumb1" href="images/certificates/сертификат ИСО 9001-2015 на английском языке (1).jpg" class="highslide" onclick="return hs.expand(this)">
						<img src="images/certificates/сертификат ИСО 9001-2015 на английском языке (1).jpg" alt="Highslide JS" title="Click to enlarge" height="240" width="214" />
					</a>
					
				</div>		
			</div>
		</div>	
		<div class="child" style="width: 23%; position: center">
			<div class="shadow-lg p-3 mb-5 rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<a id="thumb1" href="images/certificates/сертификат ИСО 9001-2015 на туркменском языке (1).jpg" class="highslide" onclick="return hs.expand(this)">
						<img src="images/certificates/сертификат ИСО 9001-2015 на туркменском языке (1).jpg" alt="Highslide JS" title="Click to enlarge" height="240" width="214" />
					</a>
						
				</div>		
			</div>
		</div>
		<div class="child" style="width: 23%; position: center">
			<div class="shadow-lg p-3 mb-5 rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<a id="thumb1" href="images/certificates/сертификат ИСО 22000-2005 на английском языке  (1).jpg" class="highslide" onclick="return hs.expand(this)">
						<img src="images/certificates/сертификат ИСО 22000-2005 на английском языке  (1).jpg" alt="Highslide JS" title="Click to enlarge" height="240" width="214" />
					</a>
						
				</div>		
			</div>
		</div>		<div class="child" style="width: 23%; position: center">
			<div class="shadow-lg p-3 mb-5 rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<a id="thumb1" href="images/certificates/сертификат ИСО 22000-2005 на туркменском языке (1).jpg" class="highslide" onclick="return hs.expand(this)">
						<img src="images/certificates/сертификат ИСО 22000-2005 на туркменском языке (1).jpg" alt="Highslide JS" title="Click to enlarge" height="240" width="214" />
					</a>
							
				</div>		
			</div>
		</div>
	</div>	
</div>			
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br><br>
<br></br></br></br><br></br></br></br><br></br></br></br><br></br></br></br><br></br></br></br><br></br></br></br><br></br></br></br><br><br></br></br></br>
