<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div>
	<h1>
  	<% flash.each do |key, value| %>
    	<div class="alert alert-<%= key %>" role="alert">
    	<%= value %>
    	</div>
  	<% end %>
	</h1>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>